.container {
  position: relative;
  display: grid;
  width: 15rem;
  height: 15rem;
  background-color: white;
  place-items: center;
  border-radius: 0.25rem;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 1px -1px 6px 0 rgba(0, 0, 0, 0.151);
}

.img {
  width: 80%;
}

.menuContainer {
  display: grid;
  position: absolute;
  top: 0;
  place-items: center;
  width: inherit;
  height: inherit;
}
