.container {
  display: grid;
  width: 15rem;
  height: 15rem;
  background-color: white;
  place-items: center;
  border-radius: 0.25rem;
  border: var(--default-border);
}

.img {
  width: 80%;
}

.menuContainer {
  display: grid;
  place-items: center;
  width: inherit;
  height: inherit;
  position: absolute;
}
