.container {
  grid-area: nav;
  padding-top: 2rem;
  flex-direction: column;
  border-right: var(--default-border);
  color: rgb(132, 137, 158);
  font-weight: 500;
  overflow: hidden;
}

.subNavItem {
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.link {
  all: unset;
}

.navItem,
.subNavItem,
.subNav,
.link {
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 17rem;
  padding: 0 2rem;
}

.subNavItem:hover,
.navItem:hover {
  background-color: rgb(253, 240, 229);
  color: orange;
}

.dropdownIcon {
  margin-left: auto;
}

.subItemWrapper {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.activeLink {
  background-color: rgb(253, 240, 229);
  font-weight: 700;
  color: orange;
}
