.App {
  display: grid;
  grid-template-areas:
    "topbar topbar"
    "nav content"
    "footer footer";
  grid-template-columns: max-content 1fr;
  grid-template-rows: 7% 86% 7%;
  height: 100vh;
}
