.App {
  display: grid;
  grid-template-areas:
    "topbar topbar"
    "nav content"
    "footer footer";
  grid-template-columns: max-content 1fr;
  grid-template-rows: 4rem 1fr 3.5rem;
  height: 100vh;
}
